# Ignore Python cache files
*__pycache__
*.pyc
*.pyo
*.pyd

# Exclude virtual environment directories
.venv
env/
venv/

# Ignore version control directories
.git
.gitignore

.env

llm.py

# Optionally ignore local configuration files that are not needed in the container
# Do NOT ignore .env if you want it copied into the image.
